<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>

<script type="text/template" id="productTemplate">
    <div class="row">
        <% items.forEach(function(product) { %>
        <div class="product col-md-3 col-xs-3">
            <img src="media/products/<%-product.pic%>" alt="">
            <h3 class="title"><%-product.name%></h3>
            <p class="price">Цена: <%-product.price%></p>
        </div>
        <% }); %>
    </div>
</script>

<h2>Распродажа</h2>
<ul id="sale"></ul>

<h2>Промо-акция</h2>
<ul id="promo"></ul>

<h2>Рекомендуемые товары</h2>
<ul id="recommended"></ul>

<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js"></script>
<script src="//code.jquery.com/jquery-3.0.0.min.js"
        integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
<script src="script.js"></script>
</body>
</html>